@import url("https://fonts.googleapis.com/css?family=Bytesized");
@import url("https://fonts.googleapis.com/css?family=Bungee+Spice");

body {
  margin: 0;
  overflow: hidden;
  font-family: "Amatic SC", cursive;
}

.overlay {
  opacity: 1;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: opacity 1s;
}

.overlay.fadeOut {
  opacity: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
  font-family: "Bytesized";
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
}

.loading.fadeOut {
  opacity: 0;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: white;
  background-color: transparent;
  font-size: 4rem;
  font-family: "Bungee Spice";
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
}

.start.fadeIn {
  opacity: 1;
}

.start.fadeOut {
  opacity: 0;
}

.controller {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
}

.controller.fadeIn {
  opacity: 0.4;
}

.controller.fadeOut {
  opacity: 0;
}

.keyboard {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px;
}

.keyboard.fadeIn {
  opacity: 0.4;
}

.keyboard.fadeOut {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .start:hover {
    color: #9effe7;
  }
}

.close {
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
  /* Set the color of the button text to white */
  font-size: 20px;
  font-weight: bold;
  transition: 0.6s all;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

.close:hover,
.close:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

img {
  max-width: 100%;
  height: 250px;
}

#XRButton {
  background-color: #00d05e !important;
  border-radius: 15px !important;
  /* box-shadow: 0 9px #2c2c2c; */
}

